<div class="cabecalhoComAcoes">
  <img
    [src]="srcImagemEsquerda"
    *ngIf="srcImagemEsquerda"
    alt="Icone Esquerda"
    (click)="aoClicarAcaoEsquerda.emit()"
  />

  <span
    class="textoAcaoEsquerda"
    *ngIf="textoAcaoEsquerda"
    (click)="aoClicarAcaoEsquerda.emit()"
  >
    {{ textoAcaoEsquerda }}</span
  >

  <h3>{{ titulo }}</h3>

  <button
    type="button"
    class="btnAcaoDireita"
    (click)="aoClicarAcaoDireita.emit()"
    [disabled]="desabilitarAcaoDireita"
  >
    {{ textoAcaoDireita }}
  </button>
</div>
